@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#home {
  background-image: url("./assets/covid-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#login {
  background-color: rgb(36, 36, 36);
}
#signin {
  background-color: rgb(36, 36, 36);
}
